TestData/code/features_soap.npy
doc/SESSION.stzs
doc/main.aux
doc/main.log
doc/main.out
doc/main.synctex.gz
doc/pdfa.xmpi
doc/main.bcf
doc/main.blg
doc/main.bbl
doc/main.run.xml
doc/biber2-21
doc/main.tex.bbl
doc/main.tex.blg
doc/chapter/bib/.xdp*
doc/chapter/.log*
article/*
doc/pkg/*
doc/img/soap-step1-example-sigma-big (Copy).png~
material/*
*.log
dyor/ml-search.rnote
TestData/code/soap_test.npy
TestData/code/soap_train.npy
TestData/ErrorMessages/tantala_md_temp3000.out
TestData/ErrorMessages/debug_espresso.py
TestData/workflow_addestramento_e_test_gap.py
/source-compilation/QUIP
TestData/code/isolated/Ta.upf
TestData/code/isolated/O.upf
/TestData/code/isolated/tmp
dyor/3e97c12e8c63def8.pdf
TestData/code/sim2/temp/md_gap_test-500-temp.traj
TestData/code/sim2/friction/md_gap_test-500-fric.traj
TestData/code/sim2/comb/md_gap_test-500-comb.traj
TestData/code/sim2/md_gap_test-500.traj
TestData/code/sim2/md_gap_test-500.traj
/deprecated
TestData/code/sim-nve/zero-kelvin/md_gap_nve-traindata_0k.traj
TestData/code/sim-nve/md_gap_nve-traindata.traj
TestData/code/sim-nve/md_gap_nve-testdata.traj
TestData/code/sim-nve/1fs-timeframe/md_gap_nve-traindata-1fs.traj
TestData/code/sim-nve/timeframe-test/10-2x25k/md_gap_nve.traj
TestData/code/sim-nve/timeframe-test/10-4x25k/md_gap_nve.traj
TestData/code/sim-nve/timeframe-test/10-4x50k/md_gap_nve.traj
TestData/code/sim-nve/timeframe-test/10-5x50k/md_gap_nve.traj
TestData/code/sim-nve/timeframe-test/10-6x25k/md_gap_nve.traj
/TestData/code/sim-nve/force-test/10-1x30/2d
/TestData/code/sim-nve/force-test/10-1x30/3d
/TestData/code/sim-nve/force-test/10-1x5k/immagini_MD_NVE_2D
/TestData/code/sim-nve/force-test/10-1x5k/immagini_MD_NVE_3D
/TestData/code/sim-nve/force-test/10-3x50k/immagini_MD_NVE_2D
/TestData/code/sim-nve/force-test/10-3x50k/immagini_MD_NVE_3D
/TestData/code/sim-nve/force-test/10-3x5k/immagini_MD_NVE_2D
/TestData/code/sim-nve/force-test/10-3x5k/immagini_MD_NVE_3D
TestData/code/sim-nve/force-test/10-1x30/md_gap_nve.traj
TestData/code/sim-nve/force-test/10-1x5k/dati_energie.csv
TestData/code/sim-nve/force-test/10-1x5k/dati_forze.csv
TestData/code/sim-nve/force-test/10-1x5k/md_gap_nve.traj
TestData/code/sim-nve/force-test/10-3x50k/dati_energie.csv
TestData/code/sim-nve/force-test/10-3x50k/dati_forze.csv
TestData/code/sim-nve/force-test/10-3x50k/md_gap_nve.traj
TestData/code/sim-nve/force-test/10-3x5k/dati_energie.csv
TestData/code/sim-nve/force-test/10-3x5k/dati_forze.csv
TestData/code/sim-nve/force-test/10-3x5k/md_gap_nve.traj
/TestData/code/sim-nve-zbl-test/no-switch-1x1k/immagini_MD_NVE_2D
/TestData/code/sim-nve-zbl-test/switch-1x1k/immagini_MD_NVE_2D
/TestData/code/sim-nve-zbl-test/switch-1x1k/immagini_MD_NVE_3D
/TestData/code/sim-nve-zbl-test/no-switch-1x1k/immagini_MD_NVE_3D
/TestData/code/sim-nve-zbl-test/switch-1x200/immagini_MD_NVE_2D
/TestData/code/sim-nve-zbl-test/switch-1x200/immagini_MD_NVE_3D
TestData/code/sim-nve/force-test/force-test.tar
TestData/code/sim-nve-zbl-test/switch-1x200/dati_forze.csv
TestData/code/sim-nve-zbl-test/switch-1x1k/dati_forze.csv
TestData/code/sim-nve-zbl-test/no-switch-1x1k/dati_forze.csv
TestData/code/sim-nve-zbl-test/no-switch-1x1k/dati_energie.csv
TestData/code/sim-nve-zbl-test/no-switch-1x1k/md_gap_nve.traj
TestData/code/sim-nve-zbl-test/switch-1x1k/dati_energie.csv
TestData/code/sim-nve-zbl-test/switch-1x1k/md_gap_nve.traj
TestData/code/sim-nve-zbl-test/switch-1x200/dati_energie.csv
TestData/code/sim-nve-zbl-test/switch-1x200/md_gap_nve.traj
TestData/code/sim-nve-zbl-test/zbl-test.tar.xz
TestData/code/sim-nve/timeframe-test/10-5x50k/andamento_nve.png~
/TestData/code/sim-nve-gapzbl/immagini_MD_NVE_2D
/TestData/code/sim-nve-gapzbl/immagini_MD_NVE_3D
TestData/code/sim-nve-gapzbl/verifica/forze_predette_gap-testdata.txt
TestData/code/sim-nve-gapzbl/verifica/forze_predette_gap-traindata.txt
TestData/code/train_data.extxyz.idx
TestData/code/sim-nve-gapzbl/dati_forze.csv
/TestData/code/sim-nve+zbl-distance-test/0.4-1.6x200/immagini_MD_NVE_2D
/TestData/code/sim-nve+zbl-distance-test/0.4-1.6x200/immagini_MD_NVE_3D
/TestData/code/sim-nve+zbl-distance-test/1.0-1.6x200/immagini_MD_NVE_2D
/TestData/code/sim-nve+zbl-distance-test/1.0-1.6x200/immagini_MD_NVE_3D
/TestData/code/sim-nve+zbl-distance-test/1.0-1.6x60/immagini_MD_NVE_2D
/TestData/code/sim-nve+zbl-distance-test/1.0-1.6x60/immagini_MD_NVE_3D
/TestData/code/sim-nve+zbl-distance-test/1.4-1.6x200/immagini_MD_NVE_2D
/TestData/code/sim-nve+zbl-distance-test/1.4-1.6x200/immagini_MD_NVE_3D
/TestData/code/sim-nve+zbl-distance-test/1.5-2.0x200/immagini_MD_NVE_2D
/TestData/code/sim-nve+zbl-distance-test/1.5-2.0x200/immagini_MD_NVE_3D
/TestData/code/sim-nve+zbl-distance-test/1.5-5.0x200/immagini_MD_NVE_2D
/TestData/code/sim-nve+zbl-distance-test/1.5-5.0x200/immagini_MD_NVE_3D
/TestData/code/sim-nve-config-wrap/immagini_MD_NVE_2D
/TestData/code/sim-nve-config-wrap/immagini_MD_NVE_3D
/TestData/code/sim-nve-configuration/1x500/immagini_MD_NVE_2D
/TestData/code/sim-nve-configuration/1x500/immagini_MD_NVE_3D
/TestData/code/sim-nve-forze/immagini_MD_NVE_2D
/TestData/code/sim-nve-forze/immagini_MD_NVE_3D
/TestData/code/sim-nve-forze/test/immagini_MD_NVE_2D
/TestData/code/sim-nve-forze/test/immagini_MD_NVE_3D
/TestData/code/sim-nve-gapzbl-wrap/immagini_MD_NVE_2D
/TestData/code/sim-nve-gapzbl-wrap/immagini_MD_NVE_3D
/TestData/code/sim-nve-zbl-forze/immagini_MD_NVE_2D
/TestData/code/sim-nve-zbl-forze/immagini_MD_NVE_3D
