*.npy
*.stzs
*.upf
*.hdf5
*.mix1
*.wfc1
*.idx
*.traj
*.tar
*.csv
*.xz
*.log
*.gz
*.xmpi
*.bcf
*.blg
*.bbl
*.aux

doc/main.log
doc/main.out
doc/main.run.xml
doc/biber2-21

doc/chapter/bib/.xdp*
doc/chapter/.log*
article/*
doc/pkg/*
doc/img/soap-step1-example-sigma-big (Copy).png~
material/*

dyor/ml-search.rnote
TestData/code/soap_test.npy
TestData/code/soap_train.npy
TestData/ErrorMessages/tantala_md_temp3000.out
TestData/ErrorMessages/debug_espresso.py
TestData/workflow_addestramento_e_test_gap.py
/source-compilation/QUIP
dyor/3e97c12e8c63def8.pdf
/deprecated

TestData/code/TRAINING-isolated-potential-calculation/tmp/O_atom_isolated.save/data-file-schema.xml
TestData/code/TRAINING-isolated-potential-calculation/tmp/O_atom_isolated.save/paw.txt
TestData/code/TRAINING-isolated-potential-calculation/tmp/O_atom_isolated.xml
TestData/code/TRAINING-isolated-potential-calculation/tmp/Ta_atom_isolated.save/data-file-schema.xml
TestData/code/TRAINING-isolated-potential-calculation/tmp/Ta_atom_isolated.save/paw.txt
TestData/code/TRAINING-isolated-potential-calculation/tmp/Ta_atom_isolated.xml
TestData/code/TRAINING-gap-1/out_potenziale_gap-250-n2-l2.xml.sparseX.GAP_2026_7_5_120_10_30_10_6461
TestData/code/TRAINING-gap-1/out_potenziale_gap-250-n2-l2.xml.sparseX.GAP_2026_7_5_120_10_30_10_6462
TestData/code/TRAINING-gap-1/out_potenziale_gap-350-n2-l2.xml.sparseX.GAP_2026_7_5_120_11_1_0_6861
TestData/code/TRAINING-gap-1/out_potenziale_gap-350-n2-l2.xml.sparseX.GAP_2026_7_5_120_11_1_0_6862
TestData/code/TRAINING-gap-1/out_potenziale_gap-500-n2-l2.xml.sparseX.GAP_2026_7_5_120_11_41_36_6271
TestData/code/TRAINING-gap-1/out_potenziale_gap-500-n2-l2.xml.sparseX.GAP_2026_7_5_120_11_41_36_6272
TestData/code/TRAINING-gap-1/out_potenziale_gap.xml.sparseX.GAP_2026_7_5_120_9_58_29_4751
TestData/code/TRAINING-gap-1/out_potenziale_gap.xml.sparseX.GAP_2026_7_5_120_9_58_29_4752
TestData/code/TRAINING-gap-2/out_potenziale_gap-500-n2-l2.xml.sparseX.GAP_2026_7_6_120_12_21_48_2581
TestData/code/TRAINING-gap-2/out_potenziale_gap-500-n2-l2.xml.sparseX.GAP_2026_7_6_120_12_21_48_2582
TestData/code/TRAINING-gap-zbl/out_potenziale_gap_500_n2_l2_zbl.xml.sparseX.GAP_2026_7_21_120_8_49_35_7411
TestData/code/TRAINING-gap-zbl/out_potenziale_gap_500_n2_l2_zbl.xml.sparseX.GAP_2026_7_21_120_8_49_35_7412
/TestData/code/SIM-gap-configuration+wrap/immagini_MD_NVE_2D
/TestData/code/SIM-gap-configuration+wrap/immagini_MD_NVE_3D
/TestData/code/SIM-gap-configuration/immagini_MD_NVE_2D
/TestData/code/SIM-gap-configuration/immagini_MD_NVE_3D
/TestData/code/SIM-gap/force-test/10-1x30/2d
/TestData/code/SIM-gap/force-test/10-1x30/3d
/TestData/code/SIM-gap/force-test/10-1x5k/immagini_MD_NVE_2D
/TestData/code/SIM-gap/force-test/10-1x5k/immagini_MD_NVE_3D
/TestData/code/SIM-gap/force-test/10-3x50k/immagini_MD_NVE_2D
/TestData/code/SIM-gap/force-test/10-3x50k/immagini_MD_NVE_3D
/TestData/code/SIM-gap/force-test/10-3x5k/immagini_MD_NVE_2D
/TestData/code/SIM-gap/force-test/10-3x5k/immagini_MD_NVE_3D
TestData/code/SIM-gap/timeframe-test/10-5x50k/andamento_nve.png~
/TestData/code/SIM-gap+zbl_distance/0.4-1.6x200/immagini_MD_NVE_2D
/TestData/code/SIM-gap+zbl_distance/0.4-1.6x200/immagini_MD_NVE_3D
/TestData/code/SIM-gap+zbl_distance/1.0-1.6x200/immagini_MD_NVE_2D
/TestData/code/SIM-gap+zbl_distance/1.0-1.6x200/immagini_MD_NVE_3D
/TestData/code/SIM-gap+zbl_distance/1.0-1.6x60/immagini_MD_NVE_2D
/TestData/code/SIM-gap+zbl_distance/1.0-1.6x60/immagini_MD_NVE_3D
/TestData/code/SIM-gap+zbl_distance/1.4-1.6x200/immagini_MD_NVE_2D
/TestData/code/SIM-gap+zbl_distance/1.4-1.6x200/immagini_MD_NVE_3D
/TestData/code/SIM-gap+zbl_distance/1.5-2.0x200/immagini_MD_NVE_2D
/TestData/code/SIM-gap+zbl_distance/1.5-2.0x200/immagini_MD_NVE_3D
/TestData/code/SIM-gap+zbl_distance/1.5-5.0x200/immagini_MD_NVE_2D
/TestData/code/SIM-gap+zbl_distance/1.5-5.0x200/immagini_MD_NVE_3D
/TestData/code/SIM-gap+zbl_forze/immagini_MD_NVE_2D
/TestData/code/SIM-gap+zbl_forze/immagini_MD_NVE_3D
/TestData/code/SIM-gap+zbl_switch/no-switch-1x1k/immagini_MD_NVE_2D
/TestData/code/SIM-gap+zbl_switch/no-switch-1x1k/immagini_MD_NVE_3D
/TestData/code/SIM-gap+zbl_switch/switch-1x1k/immagini_MD_NVE_2D
/TestData/code/SIM-gap+zbl_switch/switch-1x1k/immagini_MD_NVE_3D
/TestData/code/SIM-gap+zbl_switch/switch-1x200/immagini_MD_NVE_2D
/TestData/code/SIM-gap+zbl_switch/switch-1x200/immagini_MD_NVE_3D
/TestData/code/SIM-gap-forze/immagini_MD_NVE_2D
/TestData/code/SIM-gap-forze/immagini_MD_NVE_3D
/TestData/code/SIM-gap-forze/test/immagini_MD_NVE_2D
/TestData/code/SIM-gap-forze/test/immagini_MD_NVE_3D
/TestData/code/SIM-gapzbl/immagini_MD_NVE_2D
/TestData/code/SIM-gapzbl/immagini_MD_NVE_3D
/TestData/code/SIM-gapzbl_wrap/immagini_MD_NVE_3D
/TestData/code/SIM-gapzbl_wrap/immagini_MD_NVE_2D
TestData/code/SIM-gapzbl/verifica/energie_predette_gap-traindata.txt
TestData/code/SIM-gapzbl/verifica/energie_predette_gap-testdata.txt
TestData/code/SIM-gapzbl/verifica/forze_predette_gap-testdata.txt
TestData/code/SIM-gapzbl/verifica/forze_predette_gap-traindata.txt
/TestData/code/SIM-gap+zbl_forze+sgn/immagini_MD_NVE_2D
/TestData/code/SIM-gap+zbl_forze+sgn/immagini_MD_NVE_3D
/TestData/code/SIM-gap+zbl_forze+timestep/immagini_MD_NVE_2D
/TestData/code/SIM-gap+zbl_forze+timestep/immagini_MD_NVE_3D
