TestData/features_soap.npy
doc/SESSION.stzs
doc/main.aux
doc/main.log
doc/main.out
doc/main.synctex.gz
doc/pdfa.xmpi
doc/main.bcf
doc/main.blg
doc/main.bbl
doc/main.run.xml
doc/biber2-21
doc/main.tex.bbl
doc/main.tex.blg
doc/chapter/bib/.xdp-bibliography.bib~-JHDXKF
article/*
