#I booleani accetano varie opzioni di
#t T 1 on y
#f F 0 off n
#I path vanno inseriti senza le " "
#==========================================
#Setting dei parametri per la simulazione |--------------------------------------------------------
#==========================================

DEBUG:t
TERMINAL_LOG:t
KEEP_OPEN:f

PATH_POTENZIALE:./baseFile/out_potenziale_gap-500-n2-l2.xml 
PATH_CONFIG_INIZIALE:./baseFile/TestData_testdata_frame1.extxyz

PATH_OUT_FILE:./outFile
PATH_OUT_GRAPH:./outGraph

#Deve essere espressa in K (kelvin)
TEMPERATURE: 3000
#Deve essere espressa in fs (femtosecondi)
TIMESTEP: 1.0
PASSI_TOTALI:100

#==================================
#Setting dei parametri per lo ZBL |----------------------------------------------------------------
#==================================

IS_ZBL_ON:t

#Devono essere espress in angstrom
RAGGIO_INNER:1.5
RAGGIO_OUTER:2.0


#=======================
#Setting per i grafici |---------------------------------------------------------------------------
#=======================

#Configurazioni spaziali
GENERA_IMMAGINI_SPAZIALI:f
FREQUENZA_IMMAGINI:20

HISTO_DISTANZE:t

# Cartelle per i frame spaziali
DIR_SALVATAGGIO_2D:immagini_MD_NVE_2D
DIR_SALVATAGGIO_3D:immagini_MD_NVE_3D

#Energie e temperatura
GENERA_ENERGIA_TEMPERATURA:f

#Forze
GENERA_FORZA_COMPONENTI_TEMPO:t
GENERA_FORZA_MODULO_TEMPO:t
GENERA_FORZA_MODULO_DISTANZA:t
GENERA_FORZA_MODULO_DISTANZA_3D:t

#Velocità
GENERA_VELOCITA_TEMPO:t
GENERA_VELOCITA_DISTANZA:t

#--------------------------------------------------------------------------------------------------
#I grafici dei confronti possono essere fatti solo se lo zbl è attivo

#Forze
GENERA_CONFRONTO_FORZE_MODULO_TEMPO:t
GENERA_CONFRONTO_FORZE_MODULO_DISTANZE:t
