#I booleani accetano varie opzioni di
#t T 1 on y
#f F 0 off n
#I path vanno inseriti senza le " "
#==========================================
#Setting dei parametri per la simulazione |--------------------------------------------------------
#==========================================

DEBUG:f
TERMINAL_LOG:t
KEEP_OPEN:f

SKIP_CALC:t

PATH_POTENZIALE:./baseFile/out_potenziale_gap-500-n2-l2.xml 
PATH_CONFIG_INIZIALE:./baseFile/TestData_testdata_frame1.extxyz

#PATH_OUT_FILE:./outFile
#PATH_OUT_GRAPH:./outGraph
PATH_OUT_FILE:../TestData/code/MONTECARLO-gap+zbl/outFile
PATH_OUT_GRAPH:../TestData/code/MONTECARLO-gap+zbl/outGraph

#Deve essere espressa in K (kelvin)
TEMPERATURE: 3000
#Deve essere espressa in fs (femtosecondi)
TIMESTEP: 1
PASSI_TOTALI:2000

#==============
# What to run |------------------------------------------------------------------------------------
#==============

NVE_SIMULATION:f

RANDOMWALK_FIXED:f
RANDOMWALK:f

MONTECARLO_METROPOLIS:f

#==================================
#Setting dei parametri per lo ZBL |----------------------------------------------------------------
#==================================

IS_ZBL_ON:t
#Devono essere espress in angstrom
RAGGIO_INNER:0.5
RAGGIO_OUTER:1.6

#Parametro per scalare l'energia calcolata da zbl 1.0 (no mod) -> 0.0 (no energy)
SCALE_ZBL:1


#=======================
#Setting per i grafici |---------------------------------------------------------------------------
#=======================

#Configurazioni spaziali
GENERA_IMMAGINI_SPAZIALI:t
FREQUENZA_IMMAGINI:2000

HISTO_DISTANZE:t

# Cartelle per i frame spaziali
DIR_SALVATAGGIO_2D:immagini_MD_NVE_2D
DIR_SALVATAGGIO_3D:immagini_MD_NVE_3D

#Energie e temperatura
GENERA_ENERGIA_TEMPERATURA:t

#Forze
GENERA_FORZA_COMPONENTI_TEMPO:t
GENERA_FORZA_MODULO_TEMPO:t
GENERA_FORZA_MODULO_DISTANZA:t
GENERA_FORZA_MODULO_DISTANZA_3D:t

#Velocità
GENERA_VELOCITA_TEMPO:t
GENERA_VELOCITA_DISTANZA:t

#--------------------------------------------------------------------------------------------------
#I grafici dei confronti possono essere fatti solo se lo zbl è attivo

#Forze
GENERA_CONFRONTO_FORZE_MODULO_TEMPO:t
GENERA_CONFRONTO_FORZE_MODULO_DISTANZE:t

#============================================
#Setting dei parametri per la perturbazione |------------------------------------------------------
#============================================

#Il raggio massimo (in Å) entro cui vogliamo che ricada la percentuale di atomi
TARGET_DISPLACEMENT:1

#1 (68.27% dei vettori), 2 (95.45% dei vettori), 3 (99.73% dei vettori) entro il target
SIGMA_LEVEL:2

#======================================
#Setting dei parametri per Monte Carlo |---------------------------------------------------------------
#======================================

#Ampiezza massima dello spostamento casuale per componente (in Å)
MCSTEP_SIZE: 0.01

# single ---> per muovere un solo atomo scelto a caso a ogni step (raccomandato)
# all    ---> per muovere tutti gli atomi contemporaneamente
MOVE_TYPE: single

#Salva su traj e stampa a terminale ogni quanti step
MCLOG_INTERVAL: 1
